.wrapper {
    width: 420;
    background: blue;
    color: #fff;
    border-radius: 10px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}